button.app-button {
    margin-right: 9rem;
    padding: 1rem 1.5rem;
    width: max-content;

    font-weight: bold;

    border: none;
    border-radius: 32px;

    cursor: pointer;
    user-select: none;
}

button.app-button.normal {
    background-color: #2b2937;
}

button.app-button.normal:hover {
    background-color: #64c47f;
}

button.app-button.primary {
    background-color: #64c47f;
}

button.app-button.primary:hover {
    filter: brightness(1.1);
}
