header#app-header {
    padding: 1.5rem;

    display: flex;
    justify-content: space-between;
}

header#app-header div {
    display: flex;
    align-items: center;
    
    user-select: none;
}

header#app-header div svg {
    margin-right: 0.5rem;

    fill: #64c47f;
    font-size: 3rem;

    transform: rotate(-45deg);
}

header#app-header nav {
    display: flex;
    align-items: center;

    user-select: none;
}

header#app-header nav ul {
    display: flex;

    list-style: none;
}

header#app-header nav ul li {
    padding: 0px 2px 2px 2px;

    font-size: 1.25rem;

    border-bottom: 3px solid transparent;

    cursor: pointer;
}

header#app-header nav ul li:not(:first-child) {
    margin-left: 1.25rem;
}

header#app-header nav ul li:hover {
    border-bottom: 3px solid #64c47f;
}
